{% extends 'layout/main.html' %}
{% block title %}details{% endblock %}
{% block body %}
 <h1>{{ page }} page</h1>
 {{url_for('account.details')}}<br />
    <a href={{url_for('home.index')}}>home.index</a><br />
    <a href={{url_for('home.contact')}}>home.contact</a><br />
    <a href={{url_for('home.about')}}>home.about</a><br />
    <a href={{url_for('account.index')}}>account.index</a><br />
    <a href={{url_for('account.signup')}}>account.signup</a><br />
    <a href={{url_for('account.signin')}}>account.signin</a><br />
    <a href={{url_for('account.details')}}>account.details</a><br />
{% endblock %}
